<%- include('./partials/header') %>
    <h1>thank you</h1>
    <div>
        <h2>Hi, <%= fullname %></h2>
        <p>
            we will contact you back at <%= email %>
        </p>
    </div>
</body>
</html>