<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Basics</title>
</head>
<body>
    <h1>Welcome to my Express App</h1>
    <img 
      src="https://www.sciencealert.com/images/2019-12/processed/CatsHaveFacialExpressionsButHardToRead_1024.jpg"
      height="500px"
      alt="Cute cat"
    />
</body>
</html>